pre              /* Code block     */ {background-color: #494949}
pre code         /* Normal         */ {color:#D46BAF}
pre code span.al /* Alert          */ {color:#f07178; background-color:#2a0f15; font-weight: bold}
pre code span.an /* Annotation     */ {color:#D46BAF}
pre code span.at /* Attribute      */ {color:#FF81D2}
pre code span.bn /* BaseN          */ {color:#D46BAF}
pre code span.bu /* BuiltIn        */ {color:#B4FFE4}
pre code span.cf /* ControlFlow    */ {color:#00FFA3; font-weight: bold}
pre code span.ch /* Char           */ {color:#B4FFE4}
pre code span.cn /* Constant       */ {color:#212121}
pre code span.co /* Comment        */ {color:#008471; font-style: italic}
pre code span.cv /* CommentVar     */ {color:#212121}
pre code span.do /* Documentation  */ {color:#008471}
pre code span.dt /* DataType       */ {color:#00FFA3}
pre code span.dv /* DecVal         */ {color:#D46BAF}
pre code span.er /* Error          */ {color:#f07178; text-decoration: underline}
pre code span.ex /* Extension      */ {color:#FF81D2; font-weight: bold}
pre code span.fl /* Float          */ {color:#D46BAF}
pre code span.fu /* Function       */ {color:#00FFA3}
pre code span.im /* Import         */ {color:#B4FFE4}
pre code span.in /* Information    */ {color:#D46BAF}
pre code span.kw /* Keyword        */ {color:#00FFA3; font-weight: bold}
pre code span.op /* Operator       */ {color:#00FFA3}
pre code span.ot /* Other          */ {color:#FF81D2}
pre code span.pp /* Preprocessor   */ {color:#dcc6e0}
pre code span.re /* RegionMarker   */ {color:#FF81D2; background-color:#008471}
pre code span.sc /* SpecialChar    */ {color:#B4FFE4}
pre code span.ss /* SpecialString  */ {color:#B4FFE4}
pre code span.st /* String         */ {color:#B4FFE4}
pre code span.va /* Variable       */ {color:#FF81D2}
pre code span.vs /* VerbatimString */ {color:#B4FFE4}
pre code span.wa /* Warning        */ {color:#dcc6e0}
